@font-face {
    font-family: "Roboto";
    src: url(static/fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "RobotoMedium";
    src: url(static/fonts/Roboto-Medium.ttf);
}

@font-face{
    font-family: "Yellowtail";
    src: url(static/fonts/Yellowtail-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    margin: 50px 100px;
    justify-content: space-between;
    align-items: center;
}

.first_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.logo img{
    width: 40px;
    height: 55px;
    margin-right: 10px;
}

.logo{
    display: flex;
    align-items: center;

}

.logo h2{
    color: #274C5B;
} 

.search_tab button{
    background: transparent;
    border: none;
}

.search_tab form{
    display: flex;
}

.search_tab button:active{
    transform: translateY(3px);
}

.first_header ul{
    display: flex;
    list-style: none;
    column-gap: 30px;
    font-weight: bold;
}

.first_header a{
    text-decoration: none;
    color: #274C5B;
    align-self: center;
}

.first_header ul li:hover {
    color: #68A47F;
}

.dropdown{
    position: relative;
    align-self: center;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    top: 100%;
}

.dropdown .dropdown-content a {
    color: #274C5B;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

.dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a:hover{
    color: #68A47F;
}

.second_header{
    display: flex;
    width: 30%;
}

.search_tab{
    display: flex;
    justify-content: flex-end;
}

.search_tab input{
    border-radius: 15px;
    background: #FAFAFA;
    width: 200px;
    border: none;
    padding: 15px;
}

.cart_header{
    display: flex;
    align-items: center;
}

.cart_header img{
    margin-right: 5px;
}

.banner{
    height: 350px;
    background: url(static/Background\ Patterns\ \(1\).png) center/cover no-repeat, url(static/Image\ \(6\).png) center/cover no-repeat #F1EFF0;
}

.banner .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    font-size: 50px;
    color: #274C5B;
}

.about_us{
    height: 100vh;
}

.about_us_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 100px 100px 0 600px;
    position: relative;
}

.about_us_content::before{
    content: '';
    display: flex;
    width: 600px;
    height: 500px;
    background: url(static/Image\ \(7\).png) center/cover no-repeat;
    position: absolute;
    top: 0;
    left: -600px;
}

.about_us_content h3{
    color: #68A47F;
    font-family: 'Yellowtail', sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.about_us_content h2{
    color: #274C5B;
    font-size: 35px;
    margin-bottom: 15px;
}

.about_us_content p{
    font-family: "RobotoMedium", sans-serif;
    color: #525C60;
    font-size: 16px;
    margin-bottom: 30px;
}

.about_us_points{
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    column-gap: 20px;
    padding-left: 50px;
}

.about_us_points h4{
    color: #274C5B;
    font-size: 18px;
    position: relative;
}

.about_us_points h4:nth-child(1)::before{
    content: '';
    display: flex;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(static/Tractor.png) center/cover no-repeat;
    top: 0px;
    left: -50px;
}

.about_us_points h4:nth-child(2)::before{
    content: '';
    display: flex;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(static/Chemical\ Plant.png) center/cover no-repeat;
    top: 0px;
    left: -50px;
}

.about_us_content button{
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border-radius: 15px;
    background: #274C5B;
    border: none;
    color: white;
}

.about_us_content button:active{
    transform: translateY(5px);
}


.choose_us{
    height: 160vh;
    background: #F9F8F8;
}

.choose_us .container{
    padding: 50px 100px 0 100px;
    display: flex;
    justify-content: space-between;
}

.choose_us_content{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.choose_us_img{
    width: 500px;
    height: 450px;
    background: url(static/Photo\ \(2\).jpg) center/cover no-repeat;
    border-radius: 15px;
}

.choose_us_content h3{
    color: #68A47F;
    font-family: 'Yellowtail', sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.choose_us_content h2{
    color: #274C5B;
    font-size: 35px;
    margin-bottom: 15px;
}

.choose_us_content p{
    font-family: "RobotoMedium", sans-serif;
    color: #525C60;
    font-size: 16px;
    margin-bottom: 30px;
}

.choose_us_points h4{
    color: #274C5B;
    font-size: 16px;
    position: relative;
    margin-bottom: 10px;
    background: #F1EFF0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    position: relative;
}

.choose_us_points h4::before{
    content: '';
    width: 20px;
    height: 20px;
    display: flex;
    background: url(static/Icon.png) center/cover no-repeat;
    position: absolute;
    left: 20px;
}

.choose_us_points p{
    padding-left: 50px;
}

.choose_us_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.choose_us_card{
    width: 200px;
    height: 300px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
}

.choose_us_card h4{
    color: #274C5B;
    font-size: 18px;
}

.choose_us_card p{
    font-family: "RobotoMedium", sans-serif;
    color: #525C60;
    font-size: 16px;
    text-align: center;
}

.team{
    height: 100vh;
    margin-bottom: 100px;
}

.team .container{
    padding: 20px 100px 0 100px;
}

.team_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;    
}

.team_content h3{
    color: #68A47F;
    font-family: 'Yellowtail', sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.team_content p{
    font-family: "RobotoMedium", sans-serif;
    color: #525C60;
    font-size: 16px;
    text-align: center;
    width: 650px;
    margin-top: 20px;
}

.text{
    color: #274C5B;
    font-size: 18px;
}

.photo{
    width: 100%;
    border-radius: 15px 0 0;
}

.swiper_text{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding:15px;
}

.contact_team{
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
}

.swiper_text h3{
    color: #68A47F;
    font-family: 'Yellowtail', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.swiper-wrapper{
    padding-bottom: 50px;
    padding-top: 50px;
}

.swiper-slide {
    transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.swiper-slide-prev,
.swiper-slide-next {
    opacity: 0.5;
    transform: scale(0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.offer{
    height: 90vh;
    padding-top: 90px;
    background: #274C5B;
    margin-top: 150px;
}

.offer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer_content h3{
    color: #68A47F;
    font-family: 'Yellowtail', sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.offer_content h2{
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
}

.offer_cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
}

.offer_card img{
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 15px;
}

.offer_card p{
    color: white;
    font-size: 18px;
    text-align: center;
}


.subscribe{
    height: 70vh;
    padding-top: 80px;
}

.subscribe .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe_newsletter{
    display: flex;
    width: 800px;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    background: url(static/Photo\ \(1\).jpg) center/cover no-repeat;
    padding: 30px;
    border-radius: 25px;
}

.subscribe_newsletter h2{
    color: white;
    font-size: 35px;
    width: 40%;
    margin-left: 30px;
}

.not_text{
    margin-right: 15px;
}

.subscribe_newsletter input{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    padding: 15px;
    color: #525C60;
    font-family: 'RobotoMedium';
}

.subscribe_newsletter button{
    width: 120px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #274C5B;
    color: white;
}

.subscribe_newsletter button:active{
    transform: translateY(3px);
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    height: 250px;
}

.contact_us{
    text-align: end;
    height: 100%;
    position: relative;
}

.contact_us::after{
    content: '';
    width: 2px;
    height: 200px;
    display: inline-block;
    position: absolute;
    background: #B8B8B8;
    top: 0;
    right: -30px;
}

.contact_us h3{
    color: #274C5B;
    font-size: 20px;
    margin-bottom: 30px;
}

.row_footer{
    margin-bottom: 20px;
}

.row_footer h5{
    color: #525C60;
    font-size: 16px;
}

.row_footer p{
    color: #B8B8B8;
    font-size: 13px;
    font-family: 'RobotoMedium'
}

.organick{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.organick h3{
    color: #274C5B;
    font-size: 30px;
    margin-bottom: 35px;
    position: relative;
    padding-left: 5px;
}

.organick h3::before{
    content: '';
    width: 43px;
    height: 62px;
    display: inline-block;
    position: absolute;
    background: url(static/Logo\ \(1\).png) center/cover no-repeat;
    left: -44px;
    top: -10px;
}

.organick p{
    color: #B8B8B8;
    font-size: 13px;
    font-family: 'RobotoMedium';
    margin-bottom: 50px;
}

.follow{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.follow img{
    width: 40px;
    height: 40px;
    background: #EFF6F1;
    border: 8px solid #EFF6F1;
    border-radius: 25px;
}

.utility_pages{
    display: flex;
    flex-direction: column;
    text-align: start;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.utility_pages::before{
    content: '';
    width: 2px;
    height: 200px;
    display: inline-block;
    position: absolute;
    background: #B8B8B8;
    top: 0;
    left: -30px;
}

.utility_pages h3{
    color: #274C5B;
    font-size: 20px;
    margin-bottom: 30px;
    text-wrap: nowrap;
}

.utility_pages ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.utility_pages li{
    list-style: none;
    color: #B8B8B8;
    font-size: 13px;
    font-family: 'RobotoMedium';
}

.utility_pages a{
    text-decoration: none;
}


.burger{
    display: none;
}